version: '2'
services:
  llc1-document-api:
    container_name: llc1-document-api
    build:
      context: ./llc1-document-api
      # To allow a matching user to the user running the dev env to be created for running the container
      args:
        - OUTSIDE_UID=${OUTSIDE_UID}
        - OUTSIDE_GID=${OUTSIDE_GID}
    restart: on-failure
    ports:
      - "9999:8080"
    volumes:
      - ./llc1-document-api:/src:delegated
    logging:
      driver: syslog
      options:
        syslog-format: "rfc5424"
        syslog-address: "tcp://localhost:25826"
        tag: "{{.Name}}"
    depends_on:
      - logstash
